/* !start of computer */

@media only screen and (min-width: 768px) {
  header {
    margin-bottom: 24px;
    padding: 0 60px;
    width: 100%;
    position: fixed;
  }

  header .title {
    font-size: 20px;
  }

  a.sns {
    margin-left: 20px;
  }

  main {
    min-height: 600px;
    padding: 112px 120px 0 120px;
  }

  main h1 {
    text-align: center;
    font-size: 32px;
    padding: 30px 0;
  }

  main h2 {
    font-size: 16px;
    padding: 15px 0;
  }

  main div.news-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main span.news-next {
    font-size: 32px;
  }

  main p.news-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main div.fanmade-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }

  main span.fanmade-next {
    font-size: 32px;
  }

  main iframe.fanmade-embedded {
    margin-right: 40px;
  }
  main video.fanmade-embedded {
    margin-right: 40px;
  }

  main div.fanmade-description {
    margin-right: auto;
  }

  main p.fanmade-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main iframe {
    border-radius: 0.5rem;
  }
  main video {
    border-radius: 0.5rem;
  }

  main p.article-date {
    margin-bottom: 20px;
  }

  main p {
    margin-bottom: 4px;
  }

  footer {
    height: 250px;
    display: flex;
    align-items: center;
    padding: 0 80px;
  }

  footer .title {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

/* !end of computer */
/* !start of smartphone */

@media only screen and (max-width: 767px) {
  header {
    padding: 0 16px;
    width: 100%;
    position: fixed;
  }

  a.sns {
    margin-left: 10px;
  }

  main {
    min-height: 500px;
    padding: 88px 20px 0 20px;
  }

  main h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
  }

  main h2 {
    font-size: 18px;
    padding: 10px 0;
  }

  main div.news-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main span.news-next {
    font-size: 32px;
  }

  main p.news-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main div.fanmade-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
  }
  
  main span.fanmade-next {
    display: none;
  }

  main iframe.fanmade-embedded {
    margin-bottom: 20px;
    width: 100%;
  }
  main video.fanmade-embedded {
    margin-bottom: 20px;
    width: 100%;
  }

  main p.fanmade-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main iframe {
    border-radius: 0.5rem;
  }
  main video {
    border-radius: 0.5rem;
  }

  main p.article-date {
    margin-bottom: 20px;
  }

  main p {
    margin-bottom: 6px;
  }

  footer {
    height: 300px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  footer .title {
    padding-bottom: 10px;
  }
}

/* !end of smartphone */
/* !start of common light theme */

@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: #fff;
    transition-duration: 400ms;
  }

  header {
    background: linear-gradient(#fff 80%, transparent);
  }

  header a.sns .dark {
    display: none;
  }
  header a.sns .dark {
    display: none;
  }

  main div.news-content {
    background-color: #fcf6f3;
    transition-duration: 400ms;
  }
  div.news-content:hover {
    background-color: #f5f0ec;
    transition-duration: 400ms;
  }
  div.news-content:active {
    background-color: #cfcac7;
  }
  main div.fanmade-content {
    background-color: #fcf6f3;
    transition-duration: 400ms;
  }
  div.fanmade-content:hover {
    background-color: #f5f0ec;
    transition-duration: 400ms;
  }
  div.fanmade-content:active {
    background-color: #cfcac7;
  }

  main p a {
    color: #e8731a;
  }
  p a:hover {
    text-decoration: underline;
  }
  p a:active {
    text-decoration: underline;
    color: #a64e17;
  }

  select {
    background-color: #fef0e8;
    padding: 10px 100px 10px 10px;
    border-radius: 0.4rem;
  }
  select:focus {
    outline: 2px solid #e8731a;
  }

  pre {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #242120;
    color: #fff;
    overflow-x: auto;
  }
}

/* !end of common light theme */
/* !start of common dark theme */

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #242120;
    transition-duration: 400ms;
  }

  header {
    background: linear-gradient(#242120 80%, transparent);
  }

  header a.sns .light {
    display: none;
  }
  header a.sns .light {
    display: none;
  }

  main div.news-content {
    background-color: #312f2d;
    transition-duration: 400ms;
  }
  div.news-content:hover {
    background-color: #393735;
    transition-duration: 400ms;
  }
  div.news-content:active {
    background-color: #605d5c;
  }
  main div.fanmade-content {
    background-color: #312f2d;
    transition-duration: 400ms;
  }
  div.fanmade-content:hover {
    background-color: #393735;
    transition-duration: 400ms;
  }
  div.fanmade-content:active {
    background-color: #605d5c;
  }

  main p a {
    color: #f8b48a;
  }
  p a:hover {
    text-decoration: underline;
  }
  p a:active {
    text-decoration: underline;
    color: #fce3d2;
  }

  select {
    background-color: #43403c;
    padding: 10px 100px 10px 10px;
    border-radius: 0.4rem;
  }
  select:focus {
    outline: 2px solid #f8b48a;
  }

  pre {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #fff;
    color: #242120;
    white-space: pre-line;
  }
}

/* !end of common dark theme */
/* !start of other */

body {
  line-height: 1.5;
}

header {
  top: 0;
  z-index: 1;
}

header div.center {
  height: 88px;
  display: flex;
  align-items: center;
  transform: translateY(-8px);
  justify-content: space-between;
}

.notfound {
  text-align: center;
  margin: 40px 0;
}

.title {
  font-family: 'Noto Sans JP', sans-serif;
}

main h1 {
  font-family: 'Noto Sans JP', sans-serif;
}

main h2 {
  font-family: 'Noto Sans JP', sans-serif;
}

.title.en {
  font-family: 'Roboto', sans-serif;
}

label.expand::after {
  font-family: 'Material Symbols Outlined';
  content: "arrow_drop_down";
  font-size: 24px;
  position: relative;
  right: 40px;
  top: 6px;
  pointer-events: none;
}

p a[target="_blank"]::after {
  font-family: 'Material Symbols Outlined';
  content: "open_in_new";
  position: relative;
  top: 0.125rem;
}

footer {
  width: 100%;
}

footer p {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  text-align: center;
}

.footer-content {
  width: 100%;
}

.policy {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
	gap: 0 16px;
}

.copyright {
  margin-top: 1rem;
}

/* !end of other */
