@media only screen and (min-width: 768px) {
  header {
    margin-bottom: 24px;
    padding: 0 60px;
  }

  header .title {
    font-size: 20px;
  }

  a.sns {
    margin-left: 20px;
  }

  main {
    min-height: 600px;
    padding: 0 120px;
  }

  main h1 {
    text-align: center;
    font-size: 32px;
    padding: 30px 0;
  }

  main div.news-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main span.news-next {
    font-size: 32px;
  }

  main p.news-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main div.fanmade-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
    display: flex;
    align-items: center;
  }

  main span.fanmade-next {
    font-size: 32px;
  }

  main iframe.fanmade-embedded {
    margin-right: 40px;
  }

  main div.fanmade-description {
    margin-right: auto;
  }

  main p.fanmade-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main iframe {
    border-radius: 0.5rem;
  }

  main p.article-date {
    margin-bottom: 20px;
  }

  main p {
    margin-bottom: 4px;
  }

  footer {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 80px;
  }

  footer .title {
    font-size: 20px;
    padding-bottom: 20px;
  }
}

/* !end of computer */

@media only screen and (max-width: 767px) {
  header {
    padding: 0 16px;
  }

  a.sns {
    margin-left: 10px;
  }

  main {
    min-height: 500px;
    padding: 0 20px;
  }

  main h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
  }

  main div.news-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  main span.news-next {
    font-size: 32px;
  }

  main p.news-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main div.fanmade-content {
    padding: 20px;
    border-radius: 1rem;
    margin: 20px 0;
  }
  
  main span.fanmade-next {
    display: none;
  }

  main iframe.fanmade-embedded {
    margin-bottom: 20px;
    width: 100%;
  }

  main p.fanmade-date {
    font-size: 14px;
    margin-bottom: 5px;
  }

  main iframe {
    border-radius: 0.5rem;
  }

  main p.article-date {
    margin-bottom: 20px;
  }

  main p {
    margin-bottom: 6px;
  }

  footer {
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  footer .title {
    padding-bottom: 10px;
  }
}

/* !end of smartphone */

@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: #fff;
  }

  header {
    background: linear-gradient(#fff 80%, transparent);
  }

  header a.sns .dark {
    display: none;
  }
  header a.sns .dark {
    display: none;
  }

  main div.news-content {
    background-color: #f3f6fc;
  }
  div.news-content:hover {
    background-color: #ecf0f5;
  }
  div.news-content:active {
    background-color: #c7cacf;
  }
  main div.fanmade-content {
    background-color: #f3f6fc;
  }
  div.fanmade-content:hover {
    background-color: #ecf0f5;
  }
  div.fanmade-content:active {
    background-color: #c7cacf;
  }

  p a {
    color: #1a73e8;
  }
  p a:hover {
    text-decoration: underline;
  }
  p a:active {
    color: #174ea6;
  }
}

/* !end of common light theme */

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #202124;
  }

  header {
    background: linear-gradient(#202124 80%, transparent);
  }

  header a.sns .light {
    display: none;
  }
  header a.sns .light {
    display: none;
  }

  main div.news-content {
    background-color: #2d2f31;
  }
  div.news-content:hover {
    background-color: #353739;
  }
  div.news-content:active {
    background-color: #5c5d60;
  }
  main div.fanmade-content {
    background-color: #2d2f31;
  }
  div.fanmade-content:hover {
    background-color: #353739;
  }
  div.fanmade-content:active {
    background-color: #5c5d60;
  }

  p a {
    color: #8ab4f8;
  }
  p a:hover {
    text-decoration: underline;
  }
  p a:active {
    color: #d2e3fc;
  }
}

/* !end of common dark theme */


body {
  line-height: 1.5;
}

header div.center {
  height: 88px;
  display: flex;
  align-items: center;
  transform: translateY(-8px);
  justify-content: space-between;
}

.title {
  font-family: 'Noto Sans JP', sans-serif;
}
